<nav class="navbar">

  <ul class="nav-links">
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/meals" routerLinkActive="active">Meals</a></li>
    <li><a routerLink="/workouts" routerLinkActive="active">Workouts</a></li>
    <li><a routerLink="/goals" routerLinkActive="active">Goals</a></li>
    <li><a routerLink="/friends" routerLinkActive="active">Friends</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Help</a></li>
  </ul>

  <div class="right-btn">
    <button class="profile-btn"  (click)="goToProfile()">
      <span class="profile-main">{{ user()?.displayName || 'Profile' }}</span>
      <span class="profile-sub" *ngIf="user()?.email">{{ user()?.email }}</span>
    </button>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>